body {
    background-color: aliceblue;
}

.main-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

h1,h2 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

.pic {
    height: 200px;
    width: auto;
    border-radius: 5px;
}

ul {
    text-align: center;
    list-style-position: inside;
    list-style: none;
    padding-left: 0;
}

ol {
    text-align: start;
}