* {
    font-family: 'Open Sans', 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
}

.section {
    margin: 10px 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.section.menu {
    display: flex;
    justify-content: space-between;
}

.section > ul > li {
    margin: 5px 0;
}

h1,h2 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

.image {
    max-height: 120px;
    width: auto;
    border-radius: 5px;
}

ul {
    list-style: none;
}

ol {
    text-align: start;
    padding-left: 20px;
}

@media only screen and (min-width: 401px) and (max-width: 538px) {
    .page {
    width: 400px;
    margin: 0 auto;
    }
}

@media only screen and (min-width: 539px) and (max-width: 960px) {
    .page {
    width: 539px;
    margin: 0 auto;
    }
}

@media only screen and (min-width: 961px) {
    .page {
    width: 960px;
    margin: 0 auto;
    }
}
